[Unit]
Description=Start the sound profile service

[Service]
ExecStart=/usr/bin/focus_server -S
Restart=always
RestartSec=0
MemoryLimit=50M
User=multimedia_fw
Group=multimedia_fw
SmackProcessLabel=System

[Install]
WantedBy=tizen-system.target
