[Unit]
Description=Start the sound profile service

[Service]
ExecStart=/usr/bin/sound_server -S
Restart=always
RestartSec=0
MemoryLimit=50M
User=multimedia_fw
Group=multimedia_fw

[Install]
WantedBy=tizen-system.target
