[Unit]
Description=Start the sound profile service

[Service]
User=system
Group=system
ExecStart=/usr/bin/sound_server -S
Restart=always
RestartSec=0
MemoryLimit=50M

[Install]
WantedBy=tizen-system.target
